# Ignorar archivos y carpetas de configuración de Eclipse
.settings/
.classpath
.project

# Ignorar carpetas de compilación
bin/

# Ignorar archivos de configuración del sistema operativo
Thumbs.db
.DS_Store

# Ignorar archivos compilados de Java
*.class

# Ignorar carpetas de salida de Maven y otros sistemas de compilación
target/

# Ignorar archivos de configuracion de vscode
.vscode/